script(src='/assets/js/foundation/jquery/dist/jquery.min.js%=version=%')
script(src='/assets/js/foundation/device.js/lib/device.min.js%=version=%')
script(src='/assets/js/foundation/slick-carousel/slick/slick.min.js%=version=%')
script(src='/assets/js/foundation/jquery-colorbox/jquery.colorbox-min.js%=version=%')
script(src='/assets/js/foundation/revealator/fm.revealator.jquery.min.js%=version=%')
script(src='/assets/js/foundation/jquery.maskedinput/dist/jquery.maskedinput.min.js%=version=%')
script(src='/assets/js/foundation/fancybox/dist/jquery.fancybox%=suffix=%.js%=version=%')
script(src='https://api-maps.yandex.ru/1.1/index.xml', type="text/javascript")
script(src='/assets/js/app%=suffix=%.js%=version=%')