doctype html
html
  include common/_head
  body#body.body
    <!--[if lt IE 10]>
    <p class="browsehappy">Вы используете <strong>устаревший</strong> браузер. Пожалуйста <a href="http://browsehappy.com/">обновите его</a></p>
    <![endif]-->
    

    .main
      //include modules/01-header

    //include modules/99-footer


    include common/_popups
    include common/_scripts