.popups {
  display: none;
}

.popups_wrp {
  max-width: 96vw;
  width: 372px;
  background: #fff;
  padding: 45px 50px 50px;

  .form_input {
    width: 100%;
    padding: 8px 0 13px;
    border: none;
    border-bottom: 2px solid #c9c9c9;
    background: transparent;
    color: #505050;
    font-weight: $font-xbold;

    &[type="file"] {
      display: none;
    }

    &:focus {
      border-bottom: 2px solid #0bb0d4;
    }

    &::placeholder {
      font-weight: $font-xbold;
    }
  }

  .form_textarea {
    width: 100%;
    padding: 8px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }

  .form_disclaimer {
    font-size: 10px;
    color: #505050;
    position: relative;
    font-size: 10px;
    color: #505050;
    padding: 17px 0 0 25px;

    input[type="checkbox"] {
      display: none;
    }

    input[type="checkbox"]:checked + .form_checkbox {
      @include sprite-position($checkbox-checked);
      @include sprite-width($checkbox-checked);
      @include sprite-height($checkbox-checked);
    }

    a.form_link-disclaimer {
      color: #505050;
      display: inline-block;
      text-decoration: none;
      position: relative;
      outline: none;
      padding: 5px 0 1px;

      &:hover {
        outline: none;

        &:after {
          opacity: 0;
          transform: translateY(10px);
        }
      }

      &:after {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 1px;
        background: #505050;
        content: '';
        transition: opacity 0.3s, transform 0.3s;
        opacity: 1;
        transform: translateY(0px);
      }
    }
    .form_checkbox {
      position: absolute;
      display: block;
      left: 0;
      top: 20px;
      //background-image: url(../images/sprite.png);
      //@include sprite-position($checkbox);
      //@include sprite-width($checkbox);
      //@include sprite-height($checkbox);
    }
  }

  .form_placeholder {
    font-size: 12px;
    color: #000;
    font-weight: $font-light;
    padding: 20px 0 0 0;
  }

  .form_placeholder--stars {
    display: inline-block;
    font-size: 14px;
    color: #969696;
    font-weight: $font-xbold;
    margin-right: 7px;
  }

  .form_placeholder-btn {
    font-size: 12px;
    color: #505050;
    display: inline-block;
    text-decoration: none;
    position: relative;
    outline: none;
    padding: 0 0 2px 0;

    &:after {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 1px;
      background: #ff033e;
      content: '';
      transition: opacity 0.3s, transform 0.3s;
      opacity: 1;
      transform: translateY(0px);
    }

    &:hover {
      outline: none;

      &:after {
        opacity: 0;
        transform: translateY(10px);
      }
    }
  }

  .form_btn-wrp {
    padding: 21px 0 0 0;
  }

  p {
    margin: 15px 0;
  }

  .form_btn {
    line-height: 50px;
    font-size: 16px;
  }
}

.popups_title {
  color: #0bb0d4;
  font-size: 24px;
  line-height: 29px;
  font-weight: $font-xbold;
  padding: 0 0 0 0;
}

.popups_subtitle {
  font-size: 14px;
  line-height: 23px;
  color: #505050;
  padding: 17px 0 5px 0;
}

.popups_form-title {
  font-size: 24px;
  text-align: center;
  color: #000;
  text-transform: uppercase;
  font-weight: $font-xbold;
  margin: 30px 0;
}

.popups_form-desc {
  color: #717171;
  margin: 24px 0;
  text-align: center;
  font-size: 16px;
}

a.form_link-disclaimer {
  color: #717171;
}

.popups_news-img {
  margin: 0 auto;
  display: block;
}

.popups_news-content {
  padding: 10px;
}

@media screen and (max-width: 520px) {
  .popups_wrp {
    padding: 25px;
  }
}